@model ElectronicPatientCard.Models.DetailsPatient

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit resources</h2>

@using (Html.BeginForm("Save", "Home", FormMethod.Post))
{
<table class="table">

    <tr>
        <td>
            @Html.DisplayFor(model => model.resourceName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.date)
        </td>
    </tr>

    <tr>
        <td>
            @Html.TextBoxFor(model => model.reason, new { style = "width:100%;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.amount)
        </td>
    </tr>

    <tr>
        <td>
            <input type="submit" value="Save" />
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.id, new { style = "display: none;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.resourceName, new { style = "display: none;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.patientId, new { style = "display: none;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.amount, new { style = "display: none;" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.date, new { style = "display: none;" })
        </td>
    </tr>
</table>
}



